.navAll{
    display:block !important;
}
.search_select_box{
    width:100%;
    color:red;
    background:#fff;
    border-color: 1px solid #ced4da !important;

}
.extra{
    height:62px !important;
}
.search_select_box select{
    width:100%;
}
.dropdown-menu.show {
    max-height: 286px !important;
}
button.btn.dropdown-toggle.btn-light{
    background-color:#fff !important;
    border-color: 1px solid #ced4da !important;
}
.bootstrap-select.form-control{
    border:1px solid #ced4da !important;
}
.check {
    margin-left: 11rem;
    margin-top: 8px;
    font-size: 16px;
}
.img-circle{
    border-radius:13% !important;
}
